<md-subheader class="md-primary md-no-sticky">Admin Info</md-subheader>

<md-input-container class="md-block" flex-gt-xs>
    <label>Admin ID</label>
    <input disabled ng-model="ibdd.admin.userid" width="50">
</md-input-container>

<md-subheader class="md-primary md-no-sticky">Create new issue</md-subheader>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block block">
        <label>Issue Name</label>
        <input ng-model="ibdd.newIssue.name" width="20">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Supporting Text</label>
        <textarea ng-model="ibdd.newIssue.supporting" rows="5" md-maxlength="500"></textarea>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="ibdd.newIssue.create()">Create New Issue</md-button>
</md-content>
