<div layout-gt-xs="row">
    <md-input-container class="md-block" flex-gt-xs>
        <label>User ID</label>
        <input disabled ng-model="ibdd.userid" width="50">
    </md-input-container>

    <div>
        <md-button ng-click="ibdd.showGetPassword($event)" class="">Change User</md-button>
    </div>
</div>

<md-divider></md-divider>

<div layout-gt-xs="row" class="mt3">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Credits</label>
        <input disabled ng-model="ibdd.credits" width="20">
    </md-input-container>
</div>
