<md-content class="md-padding">
    <p>
        In <em>Issue Based Direct Democracy</em> (IBDD) the democratic process is a little different to normal voting.
    </p>
    <p>
        Usually votes are distributed, then people vote. Each person has 1 vote regardless of whether they care or know about the issue. IBDD is designed to produce better results than historical direct democracy by facilitating the <em>reorganisation</em> of votes among voters.
    </p>
    <p>
        In IBDD, the following happens
        <ul>
            <li>1 vote given to every voter, and no extra votes are created</li>
            <li>Issues enter a period of <em>reorganisation</em> (basically an auction) where voters can trade their vote for credits, or bid on votes (using credits) to pick up some of the surrendered votes</li>
            <li>The <em>default</em> is for voters to surrender their vote to the market, and they will receive a share of all the credits traded for votes of that issue during that round</li>
            <li>After the period of reorganisation, voting can begin</li>
        </ul>
        To reflect this, issues are divided into multiple categories; those which are <em>open for trading</em>, those which are <em>open for voting</em>, and past issues.
    </p>
    <p>
        It's important to note that the number of credits needed for a vote changes, depending on the issue.
        If an issue is in high demand, fewer people will surrender their votes, and the remaining votes up for grabs through the auction will "cost" a lot of credits.
        If an issue is in low demand, many people will surrender their votes (increasing supply) and so the remaining votes will be comparatively "cheaper".
    </p>
    <p>
        Another important note is that while we use the <em>analogy</em> of money to help explain
        how votes are traded, they're never sold for cash. We don't facilitate selling them for cash.
        We do, however, use economic theory to help move votes around, which (if the
        economic theory is right, and it looks to be) results in a more efficient
        distribution of votes, which should then result in better choices being made.
        There are many other benefits too: principally that the problems of both
        <em><a href="https://en.wikipedia.org/wiki/Arrow%27s_impossibility_theorem">Arrow's theorem</a></em> and
        <em><a href="https://en.wikipedia.org/wiki/Apportionment_paradox">the apportionment paradox</a></em>
        are avoided entirely.
        (They can't be outright solved, but we can design a democracy that is immune to them).
    </p>
</md-content>
