<md-content class="md-padding">


    <md-toolbar>
        <div class="md-toolbar-tools">Issues</div>
    </md-toolbar>

    <md-subheader class="md-primary">
        Open For Trading
    </md-subheader>

    <md-content class="md-padding" layout-xs="column" layout="row">

        <div flex-xs flex-gt-xs="50" layout="column">
            <ibdd-issues-column ibdd-even="true" ibdd-voting="false" ibdd="ibdd"></ibdd-issues-column>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <ibdd-issues-column ibdd-even="false" ibdd-voting="false" ibdd="ibdd"></ibdd-issues-column>
        </div>

    </md-content>

    <md-subheader class="md-primary">
        Open For Voting
    </md-subheader>

    <md-content class="md-padding" layout-xs="column" layout="row">

        <div flex-xs flex-gt-xs="50" layout="column">
            <ibdd-issues-column ibdd-even="true" ibdd-voting="true" ibdd="ibdd"></ibdd-issues-column>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <ibdd-issues-column ibdd-even="false" ibdd-voting="true" ibdd="ibdd"></ibdd-issues-column>
        </div>

    </md-content>

</md-content>
