<md-card ng-repeat="issue in ibdd.filteredIssues(ibddVoting) track by $index" ng-if="($index % 2 == 0) == ibddEven">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{issue.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{issue.supporting}}
        </p>
        <p>
            <span ng-if="ibddVoting">Voting</span>
            <span ng-if="!ibddVoting">Auction</span>
            closes in <timer countdown="((ibddVoting ? issue.voting_close.getTime() : issue.auction_close.getTime()) - ibdd.pageLoad)/1000" max-time-unit="'day'" interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
        </p>
    </md-card-content>
    <md-card-actions layout="column" ng-if="!ibddVoting">
            <md-button class="md-primary" ng-click="ibdd.votes.keep(issue, $event)">I Want To Keep My Vote</md-button>
            <md-button class="md-primary" ng-click="ibdd.votes.bid(issue, $event)">I Want More Votes</md-button>
            <md-button ng-click="ibdd.votes.issueInfo(issue, $event)">About Issue</md-button>
            <md-button class="md-warn" ng-click="ibdd.votes.dismiss(issue, $event)">Dismiss Issue</md-button>
    </md-card-actions>
    <md-card-actions layout="column" ng-if="ibddVoting">
            <md-button class="md-primary" ng-click="ibdd.votes.voteFor(issue, $event)">I Want To Vote Yes</md-button>
            <md-button ng-click="ibdd.votes.help(issue, $event)">I Don't Know What To Do</md-button>
            <md-button class="md-warn" ng-click="ibdd.votes.voteAgainst(issue, $event)">I Want To Vote No</md-button>
    </md-card-actions>
</md-card>
