<md-subheader class="md-primary md-no-sticky">Credit Balances</md-subheader>

<table>
    <tr><th>User ID</th><th>Balance (credits)</th></tr>
    <tr ng-repeat="(uid, balance) in ibdd.creditBalances">
        <td>{{uid.slice(0,16)}}...</td>
        <td>{{balance}}</td>
    </tr>
</table>

<md-subheader class="md-primary md-no-sticky">Vote Balances</md-subheader>

<table>
    <tr><th>User ID</th><th>Balances</th></tr>
    <tr ng-repeat="(uid, balances) in ibdd.voteBalances">
        <td>{{uid.slice(0,16)}}...</td>
        <td>
            <table>
                <tr><th>issue id</th><th>balance (votes)</th></tr>
                <tr ng-repeat="(issueId, balance) in balances">
                    <td>{{issueId}}</td>
                    <td>{{balance}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>