<!DOCTYPE html>
<html ng-app="IbddApp" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <base href="/static/html/">

    <title>IBDD Demo</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="/static/css/vendor/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/vendor/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/ibdd.css">
</head>

<body ng-controller="IbddController as ibdd" ng-cloak>

    <div layout="column" layout-fill>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="ibdd.toggleMenuSidenav()">
                    <md-icon md-svg-icon="/static/img/icons/menu.svg"></md-icon>
                </md-button>

                <h2>
                    <span>Issue Based Direct Democracy Demonstration</span>
                </h2>

                <span flex></span>

                <md-button class="md-icon-button">
                    <md-icon md-svg-icon="/static/img/icons/share.svg" style="color: greenyellow;"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/static/img/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>


        <md-content class="md-padding col-12">

            <md-nav-bar md-selected-nav-item="ibdd.getNav()" ng-show="$mdMedia('gt-sm')">
                <md-nav-item md-nav-click="ibdd.navGoTo('intro')" name="intro">Introduction</md-nav-item>
                <md-nav-item md-nav-click="ibdd.navGoTo('issues')" name="issues">Issues & Voting</md-nav-item>
                <md-nav-item md-nav-click="ibdd.navGoTo('balances')" name="balances">View Balances</md-nav-item>
                <md-nav-item md-nav-click="ibdd.navGoTo('userSettings')" name="userSettings">User Settings</md-nav-item>
                <md-nav-item md-nav-click="ibdd.navGoTo('admin')" name="admin">Admin Settings</md-nav-item>
            </md-nav-bar>

            <div class="m2 p2">
                <ibdd-introduction ng-show="ibdd.navIs('intro')"></ibdd-introduction>
                <ibdd-user-settings ng-show="ibdd.navIs('userSettings')"></ibdd-user-settings>
                <ibdd-issues ng-show="ibdd.navIs('issues')"></ibdd-issues>
                <ibdd-admin ng-show="ibdd.navIs('admin')"></ibdd-admin>
                <ibdd-balances ng-show="ibdd.navIs('balances')"></ibdd-balances>
            </div>

        </md-content>
    </div>


    <md-sidenav class="md-sidenav-left md-closed"
        md-component-id="menuSidenav"
        md-whiteframe="5">

        <md-toolbar class="md-theme-indigo">
            <h2 class="md-toolbar-tools">Menu</h2>
        </md-toolbar>

        <md-content layout="column">
            <md-button ng-click="ibdd.navGoTo('intro'); ibdd.toggleMenuSidenav()" name="intro">Introduction</md-button>
            <md-button ng-click="ibdd.navGoTo('issues'); ibdd.toggleMenuSidenav()" name="issues">Issues & Voting</md-button>
            <md-button ng-click="ibdd.navGoTo('balances'); ibdd.toggleMenuSidenav()" name="balances">View Balances</md-button>
            <md-button ng-click="ibdd.navGoTo('userSettings'); ibdd.toggleMenuSidenav()" name="userSettings">User Settings</md-button>
            <md-button ng-click="ibdd.navGoTo('admin'); ibdd.toggleMenuSidenav()" name="admin">Admin Settings</md-button>
        </md-content>

    </md-sidenav>


    <script src="/static/js/vendor/angular.min.js"></script>
    <script src="/static/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vendor/angular-animate.min.js"></script>
    <script src="/static/js/vendor/angular-aria.min.js"></script>
    <script src="/static/js/vendor/angular-messages.min.js"></script>
    <script src="/static/js/vendor/angular-material.min.js"></script>
    <script src="/static/js/vendor/moment.min.js"></script>
    <script src="/static/js/vendor/humanize-duration.js"></script>
    <script src="/static/js/vendor/angular-timer.min.js"></script>
    <script src="/static/js/vendor/ngStorage.min.js"></script>

    <script src="/static/js/vendor/lodash.min.js"></script>
    <script src="/static/js/vendor/sha256.min.js"></script>
    <script src="/static/js/support.js"></script>
    <script src="/static/js/ibdd.js"></script>
</body>

</html>
